.member_pay {
  height: 626px;
}
.member_pay .member_pay_left {
  width: calc(30%);
  height: 100%;
  background: #f4f6f8;
  padding: 6px;
  float: left;
}
.member_pay .member_pay_left .member_pay_left_top {
  padding: 12px;
  background: #ffffff;
  border-radius: 6px;
}
.member_pay .member_pay_left .member_pay_left_top .pay_method_select {
  height: 32px;
  margin-bottom: 12px;
  line-height: 32px;
}
.member_pay .member_pay_left .member_pay_left_top .pay_method_select ul {
  list-style: none;
  padding: 0;
  margin: 0;
  border-radius: 16px;
  overflow: hidden;
  background: #f1f3f5;
  display: flex;
}
.member_pay .member_pay_left .member_pay_left_top .pay_method_select ul li {
  cursor: pointer;
  flex: 1;
  text-align: center;
}
.member_pay .member_pay_left .member_pay_left_top .pay_method_select ul .li_active {
  background: #1890ff;
  color: white;
}
.member_pay .member_pay_left .member_pay_left_top .pay_method_input {
  margin-bottom: 12px;
  overflow: hidden;
}
.member_pay .member_pay_left .member_pay_left_top .pay_method_input .pay_method_input_left {
  width: calc(60% - 6px);
  float: left;
  font-weight: lighter;
  border-radius: 2px;
}
.member_pay .member_pay_left .member_pay_left_top .pay_method_input .pay_method_input_right {
  width: calc(40% - 6px);
  float: right;
}
.member_pay .member_pay_left .member_pay_left_top .pay_method_input .pay_method_input_right::before {
  content: "";
  display: block;
  clear: both;
}
.member_pay .member_pay_left .member_pay_left_user {
  background: #ffffff;
  margin-top: 6px;
  padding: 12px;
  border-radius: 6px;
}
.member_pay .member_pay_left .member_pay_left_user .pay_method_userInfo {
  overflow: hidden;
  display: flex;
  align-items: center;
  border-radius: 6px;
  background: #f4f6f8;
  padding: 12px;
}
.member_pay .member_pay_left .member_pay_left_user .pay_method_userInfo .pay_method_userInfo_left {
  margin-right: 12px;
}
.member_pay .member_pay_left .member_pay_left_user .pay_method_userMoney {
  margin-top: 12px;
  overflow: hidden;
  display: flex;
  justify-content: space-between;
  padding: 0 12px;
}
.member_pay .member_pay_left .member_pay_left_user .pay_method_userMoney .pay_method_userMoney_left {
  text-align: center;
}
.member_pay .member_pay_left .member_pay_left_user .pay_method_userMoney .pay_method_userMoney_left div:nth-last-child(1) {
  color: #f88510;
  font-weight: bold;
}
.member_pay .member_pay_left .member_pay_left_user .pay_method_userMoney .pay_method_userMoney_right {
  text-align: center;
}
.member_pay .member_pay_left .member_pay_left_user .pay_method_userMoney .pay_method_userMoney_right div:nth-last-child(1) {
  color: #f88510;
  font-weight: bold;
}
.member_pay .member_pay_left .member_pay_left_user .pay_method_userCardList {
  margin-bottom: 6px;
}
.member_pay .member_pay_left .member_pay_left_user .pay_method_userCardList .pay_method_userCardList_item {
  cursor: pointer;
  padding: 0 12px;
  height: 32px;
  border-radius: 2px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}
.member_pay .member_pay_left .member_pay_left_user .pay_method_userCardList .pay_method_userCardList_item_active {
  cursor: pointer;
  padding: 0 12px;
  height: 32px;
  border-radius: 2px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}
.member_pay .member_pay_left .member_pay_left_user .pay_method_userCardList .pay_method_userCardList_item_active::before {
  width: 4px;
  height: 80%;
  content: "";
  background: #f88510;
  position: absolute;
  left: 0;
}
.member_pay .member_pay_left .member_pay_left_user .pay_method_userConsume .pay_method_userConsume_top {
  font-weight: bold;
  display: flex;
  margin-right: 6px;
  text-align: center;
  border-bottom: 1px dashed #d9d9d9;
}
.member_pay .member_pay_left .member_pay_left_user .pay_method_userConsume .pay_method_userConsume_top div {
  flex: 1;
}
.member_pay .member_pay_left .member_pay_left_user .pay_method_userConsume .pay_method_userConsume_top div div:nth-last-child(1) {
  color: #f88510;
}
.member_pay .member_pay_left .member_pay_left_user .pay_method_userConsume .pay_method_userConsume_middle {
  height: 36px;
  overflow: auto;
}
.member_pay .member_pay_left .member_pay_left_user .pay_method_userConsume .pay_method_userConsume_middle::-webkit-scrollbar {
  width: 5px;
  background-color: #f5f5f5;
  border-radius: 5px;
}
.member_pay .member_pay_left .member_pay_left_user .pay_method_userConsume .pay_method_userConsume_middle::-webkit-scrollbar-thumb {
  width: 5px;
  background-color: #cbcbcb;
  border-radius: 5px;
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}
.member_pay .member_pay_left .member_pay_left_user .pay_method_userConsume .pay_method_userConsume_middle::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  background-color: #ebe9e9;
}
.member_pay .member_pay_left .member_pay_left_user .pay_method_userConsume .pay_method_userConsume_middle .pay_method_userConsume_middle_item {
  background: #f1f3f5;
  margin-bottom: 6px;
  margin-right: 6px;
  height: 24px;
  display: flex;
  text-align: center;
}
.member_pay .member_pay_left .member_pay_left_user .pay_method_userConsume .pay_method_userConsume_middle .pay_method_userConsume_middle_item div {
  flex: 1;
}
.member_pay .member_pay_left .member_pay_left_user .pay_method_userConsume .pay_method_userConsume_bottom {
  margin-top: 6px;
  border-top: 1px dashed #d9d9d9;
  height: 40px;
  font-weight: bold;
  display: flex;
  justify-content: space-between;
  text-align: center;
}
.member_pay .member_pay_left .member_pay_left_user .pay_method_userConsume .pay_method_userConsume_button {
  margin-top: 6px;
  display: flex;
  justify-content: space-between;
}
.member_pay .member_pay_right {
  width: calc(70%);
  height: 100%;
  padding: 12px;
  float: left;
}
.member_pay .member_pay_right::before {
  content: "";
  display: block;
  clear: both;
}
.member_pay .member_pay_right .member_coupon_class_select {
  background: #f9f9f9;
}
.member_pay .member_pay_right .member_coupon_scoll {
  height: calc(100% - 32px);
  margin-right: 12px;
  padding: 12px;
  overflow: auto;
  /* 会员卡的已经使用的效果 */
}
.member_pay .member_pay_right .member_coupon_scoll::-webkit-scrollbar {
  cursor: pointer;
  width: 12px;
  background-color: #f4f6f8;
  border-radius: 12px;
  position: absolute;
  right: 0;
}
.member_pay .member_pay_right .member_coupon_scoll::-webkit-scrollbar-thumb {
  cursor: pointer;
  width: 12px;
  background-color: #dbdbdb;
  border-radius: 12px;
}
.member_pay .member_pay_right .member_coupon_scoll::-webkit-scrollbar-track {
  cursor: pointer;
  box-shadow: inset 0 0 6px #f4f6f8;
  border-radius: 12px;
  background-color: #f4f6f8;
}
.member_pay .member_pay_right .member_coupon_scoll .member_coupon {
  float: left;
  width: 180px;
  height: 280px;
  margin-right: 12px;
  margin-bottom: 12px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  /* 卡券的未使用效果 */
}
.member_pay .member_pay_right .member_coupon_scoll .member_coupon:hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
}
.member_pay .member_pay_right .member_coupon_scoll .member_coupon .coupon_top {
  width: 100%;
  height: 40%;
  position: relative;
  background: radial-gradient(circle at top center, transparent 10px, #a5d8ff 0) top left / 180px 100% no-repeat;
}
.member_pay .member_pay_right .member_coupon_scoll .member_coupon .coupon_top::after {
  content: "";
  position: absolute;
  height: 4px;
  width: 100%;
  left: 0px;
  bottom: -4px;
  background-image: linear-gradient(to right, #a5d8ff 4px, transparent 4px, transparent), radial-gradient(8px circle at 8px 4px, transparent 4px, #a5d8ff 4px);
  background-size: 12px 4px;
}
.member_pay .member_pay_right .member_coupon_scoll .member_coupon .coupon_top .coupon_top_top {
  height: 75%;
  display: flex;
}
.member_pay .member_pay_right .member_coupon_scoll .member_coupon .coupon_top .coupon_top_top .coupon_top_money_center {
  text-align: center;
  margin: auto;
}
.member_pay .member_pay_right .member_coupon_scoll .member_coupon .coupon_top .coupon_top_top .coupon_top_money_center div:first-child {
  color: white;
  font-size: 16px;
  font-weight: bold;
}
.member_pay .member_pay_right .member_coupon_scoll .member_coupon .coupon_top .coupon_top_top .coupon_top_money_center div:nth-child(2) {
  color: #000000;
}
.member_pay .member_pay_right .member_coupon_scoll .member_coupon .coupon_top .coupon_top_top .coupon_top_money_center div:nth-child(2) span:nth-child(2) {
  color: white;
}
.member_pay .member_pay_right .member_coupon_scoll .member_coupon .coupon_top .coupon_top_cardnum {
  padding-left: 6px;
  padding-top: 6px;
}
.member_pay .member_pay_right .member_coupon_scoll .member_coupon .coupon_top .coupon_top_cardnum div span:first-child {
  font-weight: bold;
}
.member_pay .member_pay_right .member_coupon_scoll .member_coupon .coupon_middle {
  height: 35%;
  padding: 12px;
}
.member_pay .member_pay_right .member_coupon_scoll .member_coupon .coupon_bottom {
  height: 25%;
  padding: 0 12px;
}
.member_pay .member_pay_right .member_coupon_scoll .member_coupon .coupon_bottom .coupon_bottom_time {
  font-size: 12px;
  text-align: center;
}
.member_pay .member_pay_right .member_coupon_scoll .member_coupon .coupon_bottom .coupon_bottom_btn {
  text-align: center;
  margin-top: 6px;
}
.member_pay .member_pay_right .member_coupon_scoll .member_coupon_active {
  float: left;
  width: 180px;
  height: 280px;
  margin-right: 12px;
  margin-bottom: 12px;
  overflow: hidden;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  position: relative;
}
.member_pay .member_pay_right .member_coupon_scoll .member_coupon_active::after {
  font-size: 12px;
  width: 72px;
  height: 72px;
  transform: rotate(-45deg);
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  content: "已使用";
  position: absolute;
  left: -36px;
  top: -36px;
  background: blanchedalmond;
  color: red;
}
.member_pay .member_pay_right .member_coupon_scoll .member_coupon_active:hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
}
.member_pay .member_pay_right .member_coupon_scoll .member_coupon_active .coupon_top {
  width: 100%;
  height: 40%;
  position: relative;
  background: #ced4da;
  /* 卡中间的锯齿效果 */
}
.member_pay .member_pay_right .member_coupon_scoll .member_coupon_active .coupon_top::after {
  content: "";
  position: absolute;
  height: 4px;
  width: 100%;
  left: 0px;
  bottom: -4px;
  background: linear-gradient(to right, #ced4da 4px, transparent 4px, transparent), radial-gradient(8px circle at 8px 4px, transparent 4px, #ced4da 4px);
  background-size: 12px 4px;
}
.member_pay .member_pay_right .member_coupon_scoll .member_coupon_active .coupon_top .coupon_top_top {
  height: 75%;
  display: flex;
}
.member_pay .member_pay_right .member_coupon_scoll .member_coupon_active .coupon_top .coupon_top_top .coupon_top_money_center {
  text-align: center;
  margin: auto;
}
.member_pay .member_pay_right .member_coupon_scoll .member_coupon_active .coupon_top .coupon_top_top .coupon_top_money_center div:first-child {
  color: white;
  font-size: 16px;
  font-weight: bold;
}
.member_pay .member_pay_right .member_coupon_scoll .member_coupon_active .coupon_top .coupon_top_top .coupon_top_money_center div:nth-child(2) {
  color: #000000;
}
.member_pay .member_pay_right .member_coupon_scoll .member_coupon_active .coupon_top .coupon_top_top .coupon_top_money_center div:nth-child(2) span:nth-child(2) {
  color: white;
}
.member_pay .member_pay_right .member_coupon_scoll .member_coupon_active .coupon_top .coupon_top_cardnum {
  padding-left: 6px;
  padding-top: 6px;
}
.member_pay .member_pay_right .member_coupon_scoll .member_coupon_active .coupon_top .coupon_top_cardnum div span:first-child {
  font-weight: bold;
}
.member_pay .member_pay_right .member_coupon_scoll .member_coupon_active .coupon_middle {
  height: 35%;
  padding: 12px;
}
.member_pay .member_pay_right .member_coupon_scoll .member_coupon_active .coupon_bottom {
  height: 25%;
  padding: 0 12px;
}
.member_pay .member_pay_right .member_coupon_scoll .member_coupon_active .coupon_bottom .coupon_bottom_time {
  font-size: 12px;
  text-align: center;
}
.member_pay .member_pay_right .member_coupon_scoll .member_coupon_active .coupon_bottom .coupon_bottom_btn {
  text-align: center;
  margin-top: 6px;
}
