.membercreatecard {
  background: #f4f6f8;
}
.membercreatecard .membercreatecard_content {
  height: 600px;
  padding: 12px;
}
.membercreatecard .membercreatecard_content .content_left {
  background: white;
  height: 100%;
  width: 350px;
  float: left;
}
.membercreatecard .membercreatecard_content .content_left .left_title {
  text-align: center;
  background: white;
}
.membercreatecard .membercreatecard_content .content_left .left_title span {
  padding: 0 24px;
  color: white;
  background: #1890ff;
}
.membercreatecard .membercreatecard_content .content_right {
  background: #ffffff;
  height: 100%;
  width: 700px;
  float: right;
}
.membercreatecard .membercreatecard_content .content_right .card_recharge_type {
  height: 24px;
  line-height: 24px;
  margin-top: 24px;
  margin-left: 24px;
  padding-left: 24px;
  position: relative;
}
.membercreatecard .membercreatecard_content .content_right .card_recharge_type::after {
  width: 12px;
  height: 100%;
  background: #1890ff;
  position: absolute;
  left: 0;
  content: "";
}
.membercreatecard .membercreatecard_content .content_right .card_recharge {
  width: 100%;
  height: 50%;
  padding: 24px;
}
.membercreatecard .membercreatecard_content .content_right .card_recharge .card_recharge_ui {
  width: 60%;
  height: 100%;
  padding: 24px;
  position: relative;
  float: left;
  color: #000000;
  border-radius: 12px;
  background: rgba(51, 130, 233, 0.2);
  -webkit-backdrop-filter: blur(8px);
  backdrop-filter: blur(8px);
  border-radius: 25px;
  box-shadow: inset 0 0 6px rgba(255, 255, 255, 0.2);
}
.membercreatecard .membercreatecard_content .content_right .card_recharge .card_recharge_ui:hover {
  box-shadow: 0 0 10px 10px rgba(209, 209, 209, 0.2);
  transition: all 0.2s ease-in-out;
}
.membercreatecard .membercreatecard_content .content_right .card_recharge .card_recharge_ui .card_type {
  font-weight: bold;
  color: #000000;
}
.membercreatecard .membercreatecard_content .content_right .card_recharge .card_recharge_ui .card_balance {
  margin-top: 24px;
}
.membercreatecard .membercreatecard_content .content_right .card_recharge .card_recharge_ui .card_discount_time {
  position: absolute;
  bottom: 24px;
  left: 24px;
}
.membercreatecard .membercreatecard_content .content_right .card_recharge .card_recharge_ui .card_discount_time h4 {
  font-weight: bold;
}
.membercreatecard .membercreatecard_content .content_right .card_recharge .card_recharge_ui .card_discount_time .card_discount_time_left {
  float: left;
  margin-right: 24px;
}
.membercreatecard .membercreatecard_content .content_right .card_recharge .card_recharge_ui .card_discount_time .card_discount_time_right {
  float: left;
}
.membercreatecard .membercreatecard_content .content_right .card_recharge .card_recharge_ui .card_discount_time .card_discount_time_right::after {
  content: "";
  display: block;
  clear: both;
}
.membercreatecard .membercreatecard_content .content_right .card_recharge .card_recharge_pay {
  width: 40%;
  height: 100%;
  float: right;
  padding: 24px;
  background: #f4f6f891;
  box-sizing: border-box;
  display: flex;
  align-content: space-between;
  flex-wrap: wrap;
}
.membercreatecard .membercreatecard_content .content_right .card_recharge .card_recharge_pay::after {
  content: "";
  display: block;
  clear: both;
}
.membercreatecard .membercreatecard_content .content_right .card_recharge .card_recharge_pay .card_recharge_validity_time {
  height: 30px;
  line-height: 30px;
  width: 100%;
  display: flex;
  align-items: center;
}
.membercreatecard .membercreatecard_content .content_right .card_recharge .card_recharge_pay .card_recharge_validity_time .validity_time_left {
  display: inline-block;
  padding: 0 11px;
  background: #0996ff;
  border: #0996ff solid 1px;
  color: white;
}
.membercreatecard .membercreatecard_content .content_right .card_recharge .card_recharge_pay .card_recharge_validity_time .validity_time_right {
  flex: 1;
}
.membercreatecard .membercreatecard_content .content_right .card_recharge_method_title {
  height: 24px;
  line-height: 24px;
  margin-left: 24px;
  padding-left: 24px;
  position: relative;
}
.membercreatecard .membercreatecard_content .content_right .card_recharge_method_title::after {
  width: 12px;
  height: 100%;
  background: #1890ff;
  position: absolute;
  left: 0;
  content: "";
}
.membercreatecard .membercreatecard_content .content_right .card_method {
  width: 100%;
  height: calc(50% - 72px);
  padding: 24px;
}
.membercreatecard .membercreatecard_content .content_right .card_method .card_method_left {
  width: 174px;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  align-content: space-between;
  justify-content: space-between;
  float: left;
  overflow: auto;
  padding-right: 6px;
  /* 支付方式的滚动条样式依次为 */
}
.membercreatecard .membercreatecard_content .content_right .card_method .card_method_left::-webkit-scrollbar {
  width: 6px;
  background-color: #f5f5f5;
  border-radius: 3px;
}
.membercreatecard .membercreatecard_content .content_right .card_method .card_method_left::-webkit-scrollbar-thumb {
  width: 6px;
  background-color: #cbcbcb;
  border-radius: 3px;
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}
.membercreatecard .membercreatecard_content .content_right .card_method .card_method_left::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 12px;
  background-color: #ebe9e9;
}
.membercreatecard .membercreatecard_content .content_right .card_method .card_method_left .pay_method_cash {
  margin-bottom: 12px;
  cursor: pointer;
  width: 76px;
  height: 76px;
  border: 1px solid #cdcdcd;
  border-radius: 6px;
  display: flex;
  position: relative;
}
.membercreatecard .membercreatecard_content .content_right .card_method .card_method_left .pay_method_cash div {
  text-align: center;
  margin: auto;
}
.membercreatecard .membercreatecard_content .content_right .card_method .card_method_left .pay_method_cash::before {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  height: 100%;
  background-color: #cdcdcd;
  border: inherit;
  border-color: #000;
  border-radius: inherit;
  transform: translate(-50%, -50%);
  opacity: 0;
  content: " ";
}
.membercreatecard .membercreatecard_content .content_right .card_method .card_method_left .pay_method_cash:active::before {
  opacity: 0.1;
}
.membercreatecard .membercreatecard_content .content_right .card_method .card_method_right {
  width: 314px;
  height: 168px;
  float: left;
  content: "";
  padding-left: 42px;
  padding-right: 24px;
  box-sizing: border-box;
}
.membercreatecard .membercreatecard_content .content_right .card_method .card_method_right .pay_method_input {
  height: 30px;
  line-height: 30px;
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: 12px;
}
.membercreatecard .membercreatecard_content .content_right .card_method .card_method_right .pay_method_input .pay_method_input_left {
  display: inline-block;
  padding: 0 11px;
  background: #0996ff;
  border: #0996ff solid 1px;
  color: white;
}
.membercreatecard .membercreatecard_content .content_right .card_method .card_method_right .pay_method_input .pay_method_input_right {
  flex: 1;
}
.membercreatecard .membercreatecard_content .content_right .card_method .card_method_right .pay_method_input .pay_method_input_delete {
  display: inline-block;
  width: 32px;
  height: 32px;
  border: 1px solid #cdcdcd;
  border-left: none;
  position: relative;
  cursor: pointer;
}
.membercreatecard .membercreatecard_content .content_right .card_method .card_method_right .pay_method_input .pay_method_input_delete::after {
  content: "";
  display: inline-block;
  height: 2px;
  width: 50%;
  background: #000000;
  position: absolute;
  left: 25%;
  top: calc(50% - 1px);
}
.membercreatecard .membercreatecard_content .content_right .card_method .card_method_right .pay_method_input .pay_method_input_delete::before {
  content: "";
  display: inline-block;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  background-color: #cdcdcd;
  transform: translate(-50%, -50%);
  opacity: 0;
}
.membercreatecard .membercreatecard_content .content_right .card_method .card_method_right .pay_method_input .pay_method_input_delete:active::before {
  opacity: 0.25;
}
.membercreatecard .membercreatecard_content .content_right .card_method .card_pay_btn {
  width: calc(100% - 488px);
  height: 100%;
  float: left;
  padding: 0 24px;
}
.membercreatecard .membercreatecard_content .content_right .card_method .card_pay_btn .card_pay_btn_waitting_paid {
  font-weight: bold;
  color: red;
}
.membercreatecard .membercreatecard_content .content_right .card_method .card_pay_btn .card_pay_btn_waitting_paid_ok {
  font-weight: bold;
  color: green;
}
/* 卡片的样式 */
.discountcard {
  margin: 12px;
  height: 480px;
  overflow: auto;
  background: #fff;
  box-sizing: border-box;
  /* 卡片区域的滚动条样式依次为 */
}
.discountcard::-webkit-scrollbar {
  width: 5px;
  background-color: #f5f5f5;
  border-radius: 5px;
}
.discountcard::-webkit-scrollbar-thumb {
  width: 5px;
  background-color: #cbcbcb;
  border-radius: 5px;
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}
.discountcard::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  background-color: #ebe9e9;
}
.discountcard .discount_card:nth-child(2n + 1) {
  cursor: pointer;
  border: 1px solid #cdcdcd;
  border-radius: 8px;
  background: white;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.1);
  width: calc(50% - 3px);
  height: 90px;
  float: left;
  margin: 6px 3px 0px 0px;
  padding: 8px;
}
.discountcard .discount_card:nth-child(2n + 1) .discount_card_title {
  font-weight: bold;
  font-size: 16px;
}
.discountcard .discount_card:nth-child(2n + 1) .card_amount {
  display: flex;
  justify-content: space-between;
}
.discountcard .discount_card:nth-child(2n) {
  cursor: pointer;
  border: 1px solid #cdcdcd;
  border-radius: 8px;
  float: left;
  width: calc(50% - 3px);
  height: 90px;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.1);
  margin: 6px 0px 0px 3px;
  padding: 8px;
}
.discountcard .discount_card:nth-child(2n) .discount_card_title {
  font-weight: bold;
  font-size: 16px;
}
.discountcard .discount_card:nth-child(2n) .card_amount {
  display: flex;
  justify-content: space-between;
}
.discountcard .discount_card_active {
  border: 1px solid white !important;
  background: #1890ff !important;
  color: white;
}
