.member {
  margin-left: 60px;
  height: 100%;
}
.member .member_header {
  height: 60px;
  line-height: 60px;
}
.member .member_header .member_btn {
  margin-left: 12px;
  width: 100px;
  float: left;
}
.member .member_top {
  height: calc(100vh - 60px);
  background: #e8e9eb;
  padding: 12px;
}
